In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os
from dotenv import load_dotenv
from ydata_profiling import ProfileReport

In [2]:
# Define the host, username, password, and database
# TODO: Use environment variables for these 4 values
host = os.environ.get('HOST')
username = os.environ.get('USERNAME')
password = os.environ.get('PASSWORD')
database = os.environ.get('DATABASE')

# Create a database connection string
ssl_args = {'ssl_ca': '../../../cert/cacert.pem'}
db_connection_str = f'mysql+pymysql://{username}:{password}@{host}/{database}?ssl=true'

# Create a database connection
db_connection = create_engine(db_connection_str, connect_args=ssl_args)

# Execute a SQL query and retrieve the results as a pandas DataFrame
df = pd.read_sql('SELECT * FROM League', con=db_connection)

# Close the database connection
db_connection.dispose()

In [3]:
# from common_functions import execute_mysql_query

In [4]:
df

       id               league_name  country_id
0       1    Belgium Jupiler League           1
1    1729    England Premier League        1729
2    4769            France Ligue 1        4769
3    7809     Germany 1. Bundesliga        7809
4   10257             Italy Serie A       10257
5   13274    Netherlands Eredivisie       13274
6   15722        Poland Ekstraklasa       15722
7   17642  Portugal Liga ZON Sagres       17642
8   19694   Scotland Premier League       19694
9   21518           Spain LIGA BBVA       21518
10  24558  Switzerland Super League       24558

In [5]:
df.dtypes

id              int64
league_name    object
country_id      int64
dtype: object

In [6]:
df.describe()

                 id    country_id
count     11.000000     11.000000
mean   12452.090909  12452.090909
std     8215.308472   8215.308472
min        1.000000      1.000000
25%     6289.000000   6289.000000
50%    13274.000000  13274.000000
75%    18668.000000  18668.000000
max    24558.000000  24558.000000

In [7]:
simple_profile = df.describe(include='all')
simple_profile

                  id             league_name    country_id
count      11.000000                      11     11.000000
unique           NaN                      11           NaN
top              NaN  Belgium Jupiler League           NaN
freq             NaN                       1           NaN
mean    12452.090909                     NaN  12452.090909
std      8215.308472                     NaN   8215.308472
min         1.000000                     NaN      1.000000
25%      6289.000000                     NaN   6289.000000
50%     13274.000000                     NaN  13274.000000
75%     18668.000000                     NaN  18668.000000
max     24558.000000                     NaN  24558.000000

In [8]:
profile = ProfileReport(df, title="Export Data Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦