In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os
from dotenv import load_dotenv
from ydata_profiling import ProfileReport

In [2]:
# Define the host, username, password, and database
# TODO: Use environment variables for these 4 values
host = os.environ.get('HOST')
username = os.environ.get('USERNAME')
password = os.environ.get('PASSWORD')
database = os.environ.get('DATABASE')

# Create a database connection string
ssl_args = {'ssl_ca': '../../../cert/cacert.pem'}
db_connection_str = f'mysql+pymysql://{username}:{password}@{host}/{database}?ssl=true'

# Create a database connection
db_connection = create_engine(db_connection_str, connect_args=ssl_args)

# Execute a SQL query and retrieve the results as a pandas DataFrame
df = pd.read_sql('SELECT * FROM Team', con=db_connection)

# Close the database connection
db_connection.dispose()

In [3]:
# from common_functions import execute_mysql_query

In [4]:
df

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [6]:
df.dtypes

id                    int64
team_api_id           int64
team_fifa_api_id    float64
team_long_name       object
team_short_name      object
dtype: object

In [7]:
df.describe()

                 id    team_api_id  team_fifa_api_id
count    299.000000     299.000000        288.000000
mean   23735.301003   12340.521739      21534.305556
std    15167.914719   25940.411135      42456.439408
min        1.000000    1601.000000          1.000000
25%     9552.500000    8349.000000        178.750000
50%    22805.000000    8655.000000        673.500000
75%    36250.500000    9886.500000       1910.750000
max    51606.000000  274581.000000     112513.000000

In [8]:
simple_profile = df.describe(include='all')
simple_profile

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
count,299.000000,299.000000,288.000000,299,299
unique,NaN,NaN,NaN,296,259
top,NaN,NaN,NaN,Widzew Łódź,GEN
freq,NaN,NaN,NaN,2,3
mean,23735.301003,12340.521739,21534.305556,NaN,NaN
std,15167.914719,25940.411135,42456.439408,NaN,NaN
min,1.000000,1601.000000,1.000000,NaN,NaN
25%,9552.500000,8349.000000,178.750000,NaN,NaN
50%,22805.000000,8655.000000,673.500000,NaN,NaN
75%,36250.500000,9886.500000,1910.750000,NaN,NaN
max,51606.000000,274581.000000,112513.000000,NaN,NaN

In [9]:
profile = ProfileReport(df, title="Export Data Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…